@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  color: #4f4f4f;
}

.quote-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quote-text-wrapper {
  font-size: 36px;
  padding-left: 30px;
  border-left: 2px solid #f7df94;
}

.quote-info-wrapper {
  display: block;
  margin-top: 20px;
  padding: 15px 40px 15px 20px;
  width: fit-content;
  transition: 0.3s;
  color: #4f4f4f;
  text-decoration: none;
}

.quote-info-wrapper:hover {
  background-color: #333;
  color: #fff;
  transition: 0.3s;
}

.quote-author {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 7px;
}

.quote-genre {
  font-size: 0.9em;
}

.resetButton {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-weight: 500;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.3s;
}

.refresh-icon {
  margin-left: 5px;
  width: 20px;
  transition: 0.3s;
}

.resetButton:hover {
  background-color: #e9d59f;
  transition: 0.3s;
}

.resetButton:hover .refresh-icon {
  transform: rotate(-180deg);
  transition: 0.3s;
}

.resetButton:active {
  background-color: #333;
}

.author-name-wrapper {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.author-name {
  font-size: 3em;
}

.single-quote-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.single-quote-wrapper p {
  font-size: 1.5em;
  margin-bottom: 60px;
}
